body {
  background-color: #9cc;
}

.bodyHeading {
  text-align: center;
  padding: 130px 15px;
}

#logoName {
  font-family: 'Lato', sans-serif;
  font-size: 60px;
  color: #fff;
}

#description {
  font-family: 'Lato', sans-serif;
  font-size: 23px;
  color: #fff;
  padding: 33px;
}

#loginButton {
  background-color: #7fa0bf;
  border: 2px solid #7fa0bf;
}

#loginButton:hover {
  background-color: #99b3cc;
}

.homeButtons {
  background-color: #87deb3;
  border: 2px solid #87deb3;
  font-size: 17px;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

.homeButtons:hover {
  background-color: #a6e6c6;
  border: 2px solid #87deb3;
  color: #fff;
}
