.bodyHeading {
  position: fixed;
}

.bagStyle {
  max-width: 330px;
  padding: 15px;
  background-color: #fff;
  border-radius: 12px;
  text-align: center;
  margin-top: 15px;
  border: 1px solid #e6e6e6;
}

.bagName {
  font-family: 'Lato', sans-serif;
  font-size: 21px;
  color: #cacaca;
}

.openBagButton {
  background-color: #00cc88;
  border: 2px solid #00cc88;
  font-size: 17px;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

.openBagButton:hover {
  background-color: #00e699;
  border: 2px solid #00cc88;
  color: #fff;
}
